{% extends 'base.html.twig' %}

{% block title %} Nouvelle categorie {% endblock %}

{% block body %}
<br> <br>
    <h1> Nouvelle Categorie </h1>

    {{ include('categories/_form.html.twig') }}
    <br>

    <a href="{{ path('categories_index') }}">Liste des Categories </a>
{% endblock %}
