<footer id="footer" class="top-space">
		<div class="footer1">
			<div class="container">
				<div class="row">
					<div class="col-md-3 widget">
						<h3 class="widget-title">Nous-contactez</h3>
						<div class="widget-body">
							73 Av. Zéphirin Camélinat,  
							77176 Savigny le Temple (Seine et Marne)
							<p> Tél: +33 06 51 55 87 57<br>
								Mail: <a href="mailto:#">info@anawin-rca.org</a><br>
								Site: http://anawim-rca.org
								<br>
							</p>	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Sur les Reseaux sociaux</h3>
						<div class="widget-body">
							<div>
														<p class="follow-me-icons">
								<a href="https://www.facebook.com/OSACanawimcentrafrique" target="_blank"><i class="fa fa-facebook fa-2"></i></a> 
								<a href="https://www.youtube.com/channel/UCvgv8OBNqM6N1kpjQqU0wVA" target="_blank"><i class="fa fa-youtube fa-2"></i></a>								
								<a href="https://mail.ionos.fr/" target="_blank"><i class="fa fa-envelope fa-2"></i></a> <br>
							</p>	
							</div>
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">A propos de Anawin </h3>
						<div class="widget-body">
						Nous sommes une organisation qui travaille depuis 2006, avec l'objectif de:
							<ul>
								<li>
									générer des espaces pour instruire les enfants, les adolescents et les adultes en situation de vulnérabilité,
								</li>

								<li> 
									Être une organisation qui facilite les outils pour le développement de projets de vie dans la communauté où ils opèrent Mission,
								</li>
							</ul>
						</div>
					</div>
				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="{{ path('home') }}">Accueil</a> | 
								<a href="{{path('home_about')}}">Qui sommes-nous </a> |

								<a href="{{ path('home') }}">Notre Contact</a> |
								<b><a class="btn" href="{{ path('app_login') }}">Connexion / Enregistrement</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2020, @Anawin. Designed by <a href="mailto:ipalakot@gmail.com" >Georges Igor PALAKOT</a> 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>	